.t-wt-PlainDatePicker.e-day_field {
	width: 4rem;
}

.t-wt-PlainDatePicker.e-year_field {
	width: 6rem;
}

.t-wt-PlainDatePicker.e-day_field,
.t-wt-PlainDatePicker.e-month_field,
.t-wt-PlainDatePicker.e-year_field {
	/*
	padding: .25rem .5rem;
	line-height: 1;
	font-size: 1rem;
	height: 2.3rem;
	*/
}
