.fir-PlainDatePicker {
	&.e-block {
		display: inline-block;
	}
	&.e-dayField {
		width: 4rem;
	}
	&.e-yearField {
		width: 6rem;
	}
	&.e-dayField,
	&.e-monthField,
	&.e-yearField {
		/*
		padding: .25rem .5rem;
		line-height: 1;
		font-size: 1rem;
		height: 2.3rem;
		*/
	}
}
