.fir-CheckBoxList {
	&.e-listScroller {
		display: block;
		position: relative;
		height: 120px;
		overflow-y: scroll;
		border: solid silver 1px;
	}
	&.e-listContainer {
		margin: 2px;
	}
	&.e-masterSwitchTitle {
		display: inline-block;
		white-space: normal;
	}
	&.e-masterSwitchLabel {
		white-space: nowrap;
		margin-left: 3px;
	}
	&.e-masterSwitchInput {
		vertical-align: top;
		margin-top: 6px;
	}
	&.e-itemLabel {
		white-space: nowrap;
	}
	&.e-itemText {
		white-space: normal;
	}
}