.t-wt-CheckBoxList.e-block {

}

.t-wt-CheckBoxList.e-scroll_box {
	display: block;
	position: relative;
	height: 120px;
	overflow-y: scroll;
	border: solid silver 2px;
}

.t-wt-CheckBoxList.e-list_item {

}

.t-wt-CheckBoxList.e-item_input {

}

.t-wt-CheckBoxList.e-item_label {

}

.t-wt-CheckBoxList.e-item_caption {

}
